# Ne pas publier le fichier .env
.env

# Node modules
node_modules/

# Fichiers de log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dossier de build (si utilisé)
dist/
build/

# Fichiers système
.DS_Store
Thumbs.db

# VSCode settings (facultatif)
.vscode/
